*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 30px;
}

h2 {
    font-size: 3rem;
    margin-top: 15px;
}

h3 {
    font-size:2.5rem;
    margin-top: 15px;
}

h4 {
    font-size: 2rem;
    margin-top: 15px;
}

.button-container {
    gap: 75px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container button {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.scores-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.player-score,
.computer-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2rem;
}

.box {
    border: 5px solid black;
    width: 300px;
    height: 100px;
}

.result-container,
.button-two {
    display: flex;
    justify-content: center;
}

.result-box {
    width: 500px;
    height: 100px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.button-two {
    margin-top: 30px;
}

.button-two button {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
}

