*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(background.jpg);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 30px;
}

h2 {
  font-size: 3rem;
  margin-top: 15px;
}

h3 {
  font-size: 2.5rem;
  margin-top: 15px;
}

h4 {
  font-size: 2rem;
  margin-top: 15px;
}

.button-container {
  gap: 75px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container button {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.scores-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.player-score,
.computer-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 2rem;
}

.box {
  border: 5px solid black;
  width: 300px;
  height: 100px;
}

.result-container {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: 2rem;
}

.result-box {
  width: 500px;
  height: 100px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}


.gameEnd {
  background-color: #0005;
  height: 100vh;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: none;
}
.gameEnd h1 {
  background-color: bisque;
  border: 10px solid #000;
  border-radius: 10px;
  color: red;
  padding: 1rem;
  text-align: center;
}
.gameEnd h3 {
  background-color: bisque;
  border: 10px solid #000;
  border-radius: 10px;
  color: red;
  padding: 1rem;
  text-align: center;
  margin-bottom: 55px;
}
.buttonEnd {
  background-color: bisque;
  border: 5px solid #000;
  border-radius: 10px;
  color: red;
  text-align: center;
  font-size: 25px;
  padding: 30px 45px 30px 45px;
  cursor: pointer;
}

.rock {
    width: 5%;
    height: auto;
}

.scissors {
    width: 5%;
    height: auto;
}

.paper {
    width: 5%;
    height: auto;
}